body {
    font-family: Poppins;
    font-weight: bold;
    background: #244e26;
    font-size: xx-large;
  }
  
  .button {
    font-family: Poppins;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    margin: 2rem auto;
    padding: 200px;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 25px;
    background-color: #5e1f1f;
    border-width: 10px;
    border-color: #213520;
    border-style: solid;
    color: rgb(226, 226, 226);
  }
  
  p {
    text-align: center;
  } 

  .title {
    text-align: center;
    color: rgb(0, 0, 0);
  } 

#countdown {
  text-align: center;
} 
